nav {
  background-color: red;
  color: white;
  
  
  display: flex;
  justify-content: center;
  
  gap: 2rem; 
  font-size: large;
  
  
  font-weight: 900;
  max-width: 2000px;
  max-height: 1500px;
}

div {
  background-color: black;
  color: white;
  text-align: center;
  max-width: 2000px;
  max-height: 2000px;
  margin-left: 2px;
  margin-right: 2px;
}